[Desktop Entry]
Version=1.0
Type=Application
Name=XScreenSaver Lock
Comment=Lock the screen with XScreenSaver
Icon=/usr/share/xscreensaver/glade/screensaver-locking.png
Exec=/usr/bin/xscreensaver-command -lock
Categories=Settings;DesktopSettings;Security;X-XFCE;XScreenSaver;
Terminal=false
StartupNotify=false
