[Desktop Entry]
Version=1.0
Type=Application
Name=XScreenSaver Start
Comment=Start XScreenSaver daemon
Icon=/usr/share/pixmaps/xscreensaver.xpm
Exec=/usr/bin/xscreensaver
Categories=Settings;DesktopSettings;Security;X-XFCE;XScreenSaver;
Terminal=false
StartupNotify=false
